<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Flask App - Home</title>
    </head>
    <body>
        {% include 'header.html' %}
        <main>
            <h2>Welcome to My Flask App</h2>
            <p>This is a simple Flask application.</p>

            <h3>Technologies used</h3>
            <ul>
                <li>Flask</li>
                <li>HTML</li>
                <li>Jinja templates</li>
            </ul>
        </main>
        {% include 'footer.html' %}
        
    </body>
</html>